<nav class="navbar">
  <div class="navbar__wraper">
    <div class="navbar__brand">
      <a href="{{ full_url_for('home') }}" class="brand__link">
        <svg class="brand__img">
          <use xlink:href="/img/mig-logo.svg#mig_logo"></use>
        </svg>
      </a>
    </div>
    <ul class="navbar__nav">
      <li class="navbar__item {% if is_current_url('home') %} navbar__item--active {% endif %}">
        <a class="navbar__item--link" href="{{ full_url_for('home') }}">Головна</a>
      </li>
      <li class="navbar__item {% if is_current_url('owners') %} navbar__item--active {% endif %}">
        <a class="navbar__item--link" href="{{ full_url_for('owners') }}">Структура власності</a>
      </li>
      <li class="navbar__item {% if is_current_url('services') %} navbar__item--active {% endif %}">
        <a class="navbar__item--link" href="{{ full_url_for('services') }}">Послуги</a>
      </li>
      <li class="navbar__item {% if is_current_url('documents') %} navbar__item--active {% endif %}">
        <a class="navbar__item--link" href="{{ full_url_for('documents') }}">Документи</a>
      </li>
      <li class="navbar__item {% if is_current_url('contacts') %} navbar__item--active {% endif %}">
        <a class="navbar__item--link" href="{{ full_url_for('contacts') }}">Контакти</a>
      </li>
    </ul>
  </div>
</nav>
